.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

 .list{
   left:0;
   width:25%;
   height:100%;
   float: left;
 }

.search{
  padding: 10px;
  width: 100%;
}

input{
width: 80%;
height: 30px;
margin: auto;
}


 .container, html, body {
   width: 100%;
 }

 ul{
   list-style: none;
 }

 li{
   padding:10px;
 }
